---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=madison,%20wi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=60&query=madison%2C+wi>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=madison%2C+wi>;
        rel="next"
      X-Total:
      - '600'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":600,"total_pages":60,"results":[{"id":"5AXDs6GrQrk","created_at":"2020-03-07T13:54:44-05:00","updated_at":"2020-05-14T01:28:00-04:00","promoted_at":null,"width":4543,"height":6360,"color":"#181415","description":"Impending
        Silence","alt_description":"brown rocky shore during sunset","urls":{"raw":"https://images.unsplash.com/photo-1583607070475-0d274cd898fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDgwOH0","full":"https://images.unsplash.com/photo-1583607070475-0d274cd898fc?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDgwOH0","regular":"https://images.unsplash.com/photo-1583607070475-0d274cd898fc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDgwOH0","small":"https://images.unsplash.com/photo-1583607070475-0d274cd898fc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDgwOH0","thumb":"https://images.unsplash.com/photo-1583607070475-0d274cd898fc?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDgwOH0"},"links":{"self":"https://api.unsplash.com/photos/5AXDs6GrQrk","html":"https://unsplash.com/photos/5AXDs6GrQrk","download":"https://unsplash.com/photos/5AXDs6GrQrk/download","download_location":"https://api.unsplash.com/photos/5AXDs6GrQrk/download"},"categories":[],"likes":17,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uMJXuywXLiU","updated_at":"2020-06-08T13:31:54-04:00","username":"johnwestrock","name":"Dave
        Hoefler","first_name":"Dave","last_name":"Hoefler","twitter_username":null,"portfolio_url":"https://www.davehoefler.com/","bio":"Nature
        is nice. Instagram: just_midwest_rock","location":"Madison, WI","links":{"self":"https://api.unsplash.com/users/johnwestrock","html":"https://unsplash.com/@johnwestrock","photos":"https://api.unsplash.com/users/johnwestrock/photos","likes":"https://api.unsplash.com/users/johnwestrock/likes","portfolio":"https://api.unsplash.com/users/johnwestrock/portfolio","following":"https://api.unsplash.com/users/johnwestrock/following","followers":"https://api.unsplash.com/users/johnwestrock/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1591206699157-04dbc6978720image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1591206699157-04dbc6978720image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1591206699157-04dbc6978720image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"just_midwest_rock","total_collections":1,"total_likes":178,"total_photos":535,"accepted_tos":true},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-05-14T01:16:30-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://images.u[...]
