---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=seatle,%20wa&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Seattle, WA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Seattle",
                       "short_name" : "Seattle",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "King County",
                       "short_name" : "King County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "WA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Seattle, WA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    },
                    "location" : {
                       "lat" : 47.6062095,
                       "lng" : -122.3320708
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 47.734145,
                          "lng" : -122.2244331
                       },
                       "southwest" : {
                          "lat" : 47.4919119,
                          "lng" : -122.4596959
                       }
                    }
                 },
                 "place_id" : "ChIJVTPokywQkFQRmtVEaUZlJRA",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 21:22:30 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely&lat=47.6062095&lon=-122.3320708
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.61,"lon":-122.33,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1591651351,"sunrise":1591618332,"sunset":1591675504,"temp":289.57,"feels_like":284.58,"pressure":1022,"humidity":42,"dew_point":276.64,"uvi":6.78,"clouds":40,"visibility":16093,"wind_speed":5.1,"wind_deg":200,"wind_gust":9.8,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1591650000,"temp":289.57,"feels_like":286.08,"pressure":1022,"humidity":42,"dew_point":276.64,"clouds":40,"wind_speed":2.96,"wind_deg":251,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.23}},{"dt":1591653600,"temp":289.29,"feels_like":286.17,"pressure":1022,"humidity":48,"dew_point":278.29,"clouds":69,"wind_speed":2.89,"wind_deg":251,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591657200,"temp":289.71,"feels_like":286.48,"pressure":1020,"humidity":48,"dew_point":278.67,"clouds":87,"wind_speed":3.15,"wind_deg":253,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.13}},{[...]
