---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Nashville,%20TN&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Nashville",
                       "short_name" : "Nashville",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Davidson County",
                       "short_name" : "Davidson County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Tennessee",
                       "short_name" : "TN",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Nashville, TN, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 36.4054959,
                          "lng" : -86.5155879
                       },
                       "southwest" : {
                          "lat" : 35.9677851,
                          "lng" : -87.054903
                       }
                    },
                    "location" : {
                       "lat" : 36.1626638,
                       "lng" : -86.7816016
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 36.4054959,
                          "lng" : -86.5155879
                       },
                       "southwest" : {
                          "lat" : 35.9677851,
                          "lng" : -87.054903
                       }
                    }
                 },
                 "place_id" : "ChIJPZDrEzLsZIgRoNrpodC5P30",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 01:32:42 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely&lat=36.1626638&lon=-86.7816016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.16,"lon":-86.78,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1591752763,"sunrise":1591698578,"sunset":1591751014,"temp":301.53,"feels_like":303.56,"pressure":1009,"humidity":70,"dew_point":295.53,"uvi":11.05,"clouds":75,"visibility":16093,"wind_speed":4.1,"wind_deg":170,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1591750800,"temp":301.53,"feels_like":303.05,"pressure":1009,"humidity":70,"dew_point":295.53,"clouds":75,"wind_speed":4.83,"wind_deg":189,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1591754400,"temp":301.12,"feels_like":302.28,"pressure":1009,"humidity":71,"dew_point":295.37,"clouds":38,"wind_speed":5.22,"wind_deg":196,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},{"dt":1591758000,"temp":[...]
