---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=portland,%20or&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Portland, OR
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Portland",
                       "short_name" : "Portland",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Multnomah County",
                       "short_name" : "Multnomah County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Oregon",
                       "short_name" : "OR",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Portland, OR, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    },
                    "location" : {
                       "lat" : 45.5051064,
                       "lng" : -122.6750261
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 45.6528856,
                          "lng" : -122.4719641
                       },
                       "southwest" : {
                          "lat" : 45.43254049999999,
                          "lng" : -122.8366901
                       }
                    }
                 },
                 "place_id" : "ChIJJ3SpfQsLlVQRkYXR9ua5Nhw",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 21:20:49 GMT
recorded_with: VCR 6.0.0
